@use 'menu';
@use 'grid';
@use 'buttons';
@use 'variables/fonts';
@use 'variables/images';
@use 'default';


/*Main top*/
.container {
    display: flex;
    justify-content: center;
}

.main__top-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:#FFD;
    font-size: 2.3rem;
    font-weight: 400;
    padding: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    margin-right:0;
}


/* Main mid*/
.main__mid {
    background-color:#fdcc52;
}

.main__mid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main__mid-tittle {
    margin:3rem auto;
    font-size: 1.8rem;
    font-weight: 300;
}

.main__mid-content{
    margin: 2rem 0; 
}

.main__mid-link{
    margin: 2rem 0;
}

.row {
    display: flex;
    justify-content: center;
}

.google-play {
    width: 135px;
}

/*Main__mid-two*/

.main__mid--two{
    background-color: #FFF;
    margin-top: 0;
}

.features__tittle {
    margin-top: 0;
    padding-top: 3rem;
}


.main__mid2-tittle {
    text-align: center;
}

.main__mid2-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.card-header {
    background-image: linear-gradient(90deg, #da1515 0%, #a00b8a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    height: 4rem;
}

/*Main mid 3*/
.main__mid--three {
    background-image: url('/assets/img/bg-cta.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    filter: opacity(1);
    height: 500px;
    background-position: center;
    background-size: cover;
}


/*Itt még vannak gondok*/
.main__mid3-content--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main__mid3-content{
    padding-top: 4rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main__mid3-button--container{
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 1.2rem;
    width: 30%;
}

@media screen and (max-width: 992px) {
    .btn {
        border-radius: 1rem;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        border-radius: 1rem;
        width: 50%;
    }
}

.btn{
    font-family:'lato';
}

.btn:hover {
    background-color: #fdcc52;
    border: 1px solid#fdcc52;
    transition: all .3s ease;
}

/*Main footer */

.main__footer {
    background-color: #fdcc52;
}

.main__footer-tittle {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.main__footer-icons {
    display: flex;
    justify-content: center;
    padding: .6rem;
}

.icon-heart {
    color: #FF2233;
}

.icon {
    font-size: 3rem;
    padding-left: .6rem;
}

.fa-facebook {
    color: rgba(12, 22, 247, .9)
}

.fa-facebook:hover {
    color: rgba(12, 22, 247, 1)
}

.fa-google-plus {
    color:rgba(255, 33, 12, .9)
}

.fa-google-plus:hover {
    color:rgba(255, 33, 12, 1)
}

.fa-twitter-square {
    color:rgba(13, 180, 202, 0.9)
}

.fa-twitter-square:hover {
    color:rgba(13, 180, 202, 1)
}


/*Footer*/

.footer {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__tittle-div {
    text-align: center;
}

.footer__tittle {
    color: #AAA;
    font-size: .8rem;
    padding-top: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1rem;
}

.footer__link{
    color:#AAA;
    font-size: .7rem;
    padding: 0 .4rem;
}

.footer__link:hover {
    color: #fdcc52;
}